* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.background {
    position: relative;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),url(img/3.jpg);
    background-size: cover;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        width: 50%;
        color: white;
        font-size: 20px;
    }
}
.text-overlay {
    color: white;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
}
.buttons {
    .btn {
        padding: 10px 20px;
        margin: 10px;
        margin-top: 38px;
        border: none;
        border-radius: 5px;
        background-color: #333;
        color: #fff;
        cursor: pointer;
    }
}

.info {
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    width: 100vw;
    height: 550px;
    display: flex;
}
.container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chart {
    width: 70%;
    height: 70%;
    border: none;
    padding: 42px;
    border-radius: 12px;
    background: wheat;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

.dashboard-text {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row {
    width: 80%;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 150px;
        background-color: wheat;
        border-radius: 12px;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    }
    .box:hover {
        background-color: #333;
    }
}
